---
import { Image } from "astro:assets";
import BrandMark from "./BrandMark.astro";

interface Props {
  compact?: boolean;
}

const { compact = false } = Astro.props;
---

<a
  href="/"
  data-astro-prefetch="hover"
  class="inline-flex items-center"
  aria-label="Sakala - Beranda"
>
  {
    compact ? (
      <BrandMark class="h-11 w-auto" />
    ) : (
      <Image
        src="/logo.svg"
        width="520"
        height="160"
        alt="Sakala"
        class="h-13 w-auto sm:h-14"
        loading="eager"
      />
    )
  }
</a>
