---
import BaseLayout from "./BaseLayout.astro";
import SiteFooter from "../components/layout/SiteFooter.astro";
import SiteHeader from "../components/layout/SiteHeader.astro";
---

<BaseLayout {...Astro.props}>
  <SiteHeader />
  <main id="main-content">
    <slot />
  </main>
  <SiteFooter />
</BaseLayout>
